:host {
    display: flex;
    position: absolute;
    left: var(--ui-tooltip-x);
    top: var(--ui-tooltip-y);
    z-index: 1;
}

[part="shadow"]{
    filter: drop-shadow(0px 0.125rem 0.5rem rgba(0,0,0,0.5));
}

[part="content"] {
    clip-path: path('M 4,4L 47,4C 48,2 49,0 50,0C 50,0 51,2 53,4L 96,4C 98,4 100,6 100,8L 100,22C 100,24 98,26 96,26L 4,26C 2,26 0,24 0,22L 0,8C 0,6 2,4 4,4 Z');
    background: red/*#181818*/;
    width: 100px;
    height: 100px;
    font-family: var(--node-font);
    color: #FFF;
}