:host {
    display: flex;
    border-radius: 50%;
    background: #FFF;
    width: 0.5rem;
    height: 0.5rem;
    grid-column-start: calc(var(--node-x) + 1);
    grid-row-start: calc(var(--node-y) + 1);
    transform: translate(
        calc(-0.25rem + calc(var(--node-offset-x, 0) * 1px)),
        calc(-0.25rem + calc(var(--node-offset-y, 0) * 1px))
    );
    border: 0;
    color: #222;
    padding: 0;
    margin: -0.125rem;
}

:host(.active),
:host(:hover) {
    transform: translate(
        calc(-0.5rem + calc(var(--node-offset-x, 0) * 1px)),
        calc(-0.5rem + calc(var(--node-offset-y, 0) * 1px))
    );
    background-color: #248AE4;
    border: 0.25rem solid #FFF;
}

:host(:hover svg) {
    display: block;
}

:host(svg) {
    width: 1rem;
    height: 1rem;
}

:host.end:hover {
    border-radius: 50% 0 0 50%;
}

:host.debug {
    box-shadow: 0 0 10px rgba(133, 187, 218, 0.6);
    background: #248AE4;
}