:host {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
}

[part=header] {
    grid-row: 1;
    grid-column: 1 / span 2;
}